---
import Header from "../layouts/Header.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../layouts/Footer.astro";
---

<Header title="IndexPage" />
<Layout title="GymRats">
  <main>
    <section>
      <h1 class="text-white text-center text-9xl justify-end">Hola</h1>
    </section>
    <section>
      <h1 class="text-white text-center text-9xl justify-end">Hola</h1>
    </section>
    <section>
      <h1 class="text-white text-center text-9xl justify-end">Hola</h1>
    </section>
  </main>
</Layout>
<Footer />
