<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <footer class="bg-white">
    <p class="flex text-redpalette justify-center">&copy; 2023 SAIDREXXX</p>
  </footer>

</html>
